<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Cookies Domain</title>

	<%- renderAgent({debug: true, cookieDomain: "example.com"}) %>
</head>
<body>
	<h1>COOKIES DOMAIN</h1>

</body>
</html>
