<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Event target</title>
  <%- renderAgent() %>
  
</head>
<body>
  <h1>Document target</h1>

  <button type="button" id="btn1">Button</button>

  <pre id="scenarioDisplay"></pre>
  <script id="scenario">
    document.addEventListener('click', function () {});
  </script>
  <script>scenarioDisplay.innerHTML = scenario.innerHTML;</script>
</body>
</html>
