* @signalfx/gdi-js-maintainers @signalfx/gdi-js-web-approvers
*.md @signalfx/docs @signalfx/gdi-js-maintainers @signalfx/gdi-js-web-approvers
*.rst @signalfx/docs @signalfx/gdi-js-maintainers @signalfx/gdi-js-web-approvers
docs/ @signalfx/docs @signalfx/gdi-js-maintainers @signalfx/gdi-js-web-approvers
README* @signalfx/docs @signalfx/gdi-js-maintainers @signalfx/gdi-js-web-approvers
