version: 2

updates:
    - package-ecosystem: 'npm'
      directory: '/'
      schedule:
          interval: 'monthly'
      open-pull-requests-limit: 10
      groups:
          size-limit:
              patterns:
                  - '@size-limit/*'
                  - 'size-limit*'
          playwright:
              patterns:
                  - '@playwright/*'
                  - 'playwright*'
          eslint:
              patterns:
                  - '@eslint/*'
                  - '*eslint*'
          vitest:
              patterns:
                  - '@vitest/*'
                  - 'vitest*'
          react:
              patterns:
                  - 'react'
                  - 'react-dom'
          opentelemetry:
              patterns:
                  - '@opentelemetry/*'
          rsbuild:
              patterns:
                  - '@rsbuild/*'
          electron-forge:
              patterns:
                  - '@electron-forge/*'

    - package-ecosystem: 'github-actions'
      directory: '/'
      schedule:
          interval: 'monthly'
