[submodule "deps/opentelemetry-js"]
	path = deps/opentelemetry-js
	url = https://github.com/open-telemetry/opentelemetry-js.git
[submodule "deps/opentelemetry-js-contrib"]
	path = deps/opentelemetry-js-contrib
	url = https://github.com/open-telemetry/opentelemetry-js-contrib.git
