artifacts/
dist/
build/
node_modules/
.idea/
.vscode/
.npm/
.nyc_output/
.DS_Store
.rollup.cache/

# integration tests
*.log
tests_output/
/.nightwatch_build_id
/.http-mitm-proxy
/html/

# contains secrets
.env

.next

vitest-report
__screenshots__

packages/build-plugins/html
