<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Test init</title>
	<%- renderAgent({}, true) %>
	<script>
		class MySpanProcessor {
			onEnd(span) {
				console.log('MSP onend');
				if (span.attributes && span.attributes['http.url']) {
					span.attributes['http.url'] = 'redacted';
				}
			}
			onStart(span, cts) {
			}
			forceFlush() {
				return Promise.resolve();
			}
			shutdown() {
				return Promise.resolve();
			}
		};
		SplunkRumOptions.spanProcessor = new MySpanProcessor();
		SplunkRum.init(SplunkRumOptions);
	</script>
</head>
<body>
	<p>Redacting URLs with spanProcessor</p>
</body>
</html>
