<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Test visibility</title>

	<%- renderAgent({
		beaconUrl: "https://rum-ingest.us0.signalfx.com/v1/rum",
		rumAuth: "nF2sRwMTyB-is8WpcGQ72w",
		app: "mh-test",
		environment: "local",
		debug: true, 
		instrumentations: {visibility: true, connectivity: true},
	}) %>
</head>
<body>
    <h1>visibility</h1>    
</body>
</html>
