<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Socket.io</title>

  <script src="/socket.io/socket.io.js"></script>
	<%- renderAgent({instrumentations: {socketio: true}}) %>
</head>
<body>
	<h1>Socket.io</h1>
	<button id="connectSocket" type="button">Connect to a socket.io server</button>
	<button id="sendHello" type="button">Send</button>
	<button id="sendPing" type="button">Ping</button>
	<script>
		var socket;
		connectSocket.addEventListener('click', function () {
			socket = io();
			socket.on('pong', function () {
				window.testing = false;
				console.log('Pong!');
			});
		});

		sendHello.addEventListener('click', function() {
			socket.emit('hello');
		});

		sendHello.addEventListener('click', function() {
			window.testing = true;
			socket.emit('ping');
		});
	</script>
</body>
</html>
