<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Promise - constructor</title>

  <%- renderAgent({}) %>
</head>
<body>
  <h1>Promise - constructor</h1>

  <p>This is just a test to make sure that promises constructor are still executed sync by browsers and don't need patching</p>

  <button type="button" id="btn1">Button</button>

  <script>
    btn1.addEventListener('click', function () {
      new Promise(function (resolve) {
        SplunkRum.provider.getTracer('default').startSpan('context-child').end();
      });
    });
  </script>
</body>
</html>
