<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>setImmediate</title>

  <%- renderAgent({
    bufferTimeout: 5000,
    context: {
      async: true
    }
  }) %>
</head>
<body>
  <h1>setImmediate</h1>

  <button type="button" id="btn1">Button</button>

  <script>
    btn1.addEventListener('click', function () {
      window.testing = true;
      setImmediate(function () {
        SplunkRum.provider.getTracer('default').startSpan('context-child').end();
        window.testing = false;
      });
    });
  </script>
</body>
</html>
