<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>setTimeout</title>

  <%- renderAgent({}) %>
</head>
<body>
  <h1>setTimeout</h1>

  <button type="button" id="btn1">Button</button>

  <script>
    btn1.addEventListener('click', function () {
      setTimeout(function () {
        SplunkRum.provider.getTracer('default').startSpan('context-child').end();
      }, 1);
    });
  </script>
</body>
</html>
