<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>FETCH</title>

	<%- renderAgent({debug: true}) %>
</head>
<body>
	<h1>FETCH</h1>
	<script>
		window.testing = true;
		fetch('/some-data').then(response => response.json()).then(res => {
			console.log(res);
			setTimeout(function () {
				// Otel plugin waits for 300ms for resource timings to appear. This should schedule
				// testing done to be after that.
				window.testing = false;
			}, 350);
		});
	</script>
	</body>
</html>
