<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fetch - then</title>

  <%- renderAgent({
    context: {
      async: true
    }
  }) %>

  <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>
</head>
<body>
  <div id="root"></div>

  <script type="text/babel">

    function App() {

      const [show, setShow] = React.useState(false);
      return (
        <div>
          <button onClick={() => setShow(!show)}>Toggle</button>
          {show && <Lazy />}
        </div>
      );
    }

    function Lazy() {
      React.useEffect(() => {
        const span = SplunkRum.provider.getTracer('test').startSpan('custom-1').end()
      });    

      return (
        <h2>Lazy</h2>
      );
    }

    ReactDOM.render(
      <App />,
      document.getElementById('root')
    );


  </script>
</body>


</body>
</html>
