<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Resource observer test</title>
  <%- renderAgent() %>
</head>
<body>
  <h1>Resource observer test</h1>

  <script>
    function loadScript() {
      var p = new Promise(function(resolve, _) {
        var s = document.createElement( 'script' );
        s.setAttribute( 'src', '/integration-tests/assets/test.js' );
        s.onload = resolve();
        document.body.appendChild(s);
      });
      return p;
    }
    
    function loadImg() {
      var p = new Promise(function(resolve, _) {
        var img = document.createElement('img');
        img.src = '/integration-tests/assets/splunk-black.png';
        img.onload = resolve;
        document.body.appendChild(img);
      });
      return p;
    }

    window.addEventListener("load", function() {
      setTimeout(function() {
        Promise.all([loadImg(), loadScript()]).then(function() {
          SplunkRum.provider.getTracer('default').startSpan('guard-span').end();
        })
      }, 5)
    })
  </script>

</body>
</html>
