<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Resource observer test</title>
  <%- renderAgent() %>
</head>
<body>
  <h1>Resource observer test</h1>

  <img src="/integration-tests/assets/splunk-black.png" alt="white">

  <script>
    
    function loadImg() {
      var p = new Promise(function(resolve, _) {
        var img = document.createElement('img');
        img.src = '/integration-tests/assets/splunk-black.png';
        img.onload = function() {
          console.log('image onload', Date.now());
          resolve();
        }
        document.body.appendChild(img);
      });
      return p;
    }

    window.addEventListener("load", function() {
      setTimeout(function() {
        Promise.all([loadImg()]).then(function() {
          SplunkRum.provider.getTracer('default').startSpan('guard-span').end();
        })
      }, 5)
    })
  </script>

</body>
</html>
