<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Resource observer ignore test</title>
  
	<%- renderAgent({}, true) %>
	<script>
			window.SplunkRumOptions.ignoreUrls = [
        window.location.origin + '/integration-tests/assets/splunk-black.png', 
        /test.js/
      ];
			window.SplunkRum && window.SplunkRum.init(window.SplunkRumOptions);
	</script>
</head>
<body>
  <h1>Resource observer ignore test</h1>

  <script>

    function loadScript() {
      var p = new Promise(function(resolve, _) {
        var s = document.createElement( 'script' );
        s.setAttribute( 'src', '/integration-tests/assets/test.js' );
        s.onload = resolve;
        document.body.appendChild(s);
      });
      return p;
    }
    
    function loadImg() {
      var p = new Promise(function(resolve, _) {
        var img = document.createElement('img');
        img.src = '/integration-tests/assets/splunk-black.png';
        img.onload = resolve;
        document.body.appendChild(img);
      });
      return p;
    }

    window.addEventListener("load", function() {
      Promise.all([loadImg(), loadScript()]).then(function() {
        SplunkRum.provider.getTracer('default').startSpan('guard-span').end();
      })
    })
  </script>

</body>
</html>
