name: Check Links

on: 
  push:
    branches: [ main ]
  pull_request:

jobs:
  linkChecker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.6.0

      - name: Link Checker
        uses: lycheeverse/lychee-action@v1.9.3
        with:
          fail: true
