name: Continuous Integration
on:
    pull_request:
permissions: read-all

jobs:
    unit-tests:
        runs-on: ubuntu-latest
        permissions: read-all
        steps:
            - name: Checkout
              uses: actions/checkout@v4.2.1
            - name: Setup
              uses: ./.github/actions/setup
            - run: npm run version:check
            - name: Size check
              run: npm run size-limit
            - name: Lint code
              run: npm run lint
            - name: Lint docs
              run: npm run lint:markdown
            - name: Transpile code
              run: npm run compile
            - name: Unit test
              run: npm run test:unit:ci
            - name: Unit test (nodejs)
              run: npm run test:unit:ci-node

    saucelabs-integration-tests:
        runs-on: ubuntu-latest
        permissions: read-all
        environment: integration
        env:
            SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
            SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
            SAUCE_TUNNEL_ID: ${{ secrets.SAUCE_TUNNEL_ID }}
        strategy:
            fail-fast: false
            matrix:
                browser: [edge]
        steps:
            - name: Setup sauce connect
              uses: saucelabs/sauce-connect-action@v2.3.4
              with:
                  username: ${{ secrets.SAUCE_USERNAME }}
                  accessKey: ${{ secrets.SAUCE_ACCESS_KEY }}
                  tunnelName: ${{ secrets.SAUCE_TUNNEL_ID }}
            - name: Checkout
              uses: actions/checkout@v4.2.2

            - name: Setup
              uses: ./.github/actions/setup

            - name: Add to hosts file
              run: echo "127.0.0.1 local.test" | sudo tee -a /etc/hosts
            - name: Run integration tests in Saucelabs
              run: npm run test:integration:remote -- --env ${{ matrix.browser }}
              timeout-minutes: 15

    local-integration-tests:
        runs-on: ubuntu-latest
        permissions: read-all
        strategy:
            fail-fast: false
            matrix:
                browser: [headlessChrome, headlessFirefox]
        steps:
            - name: Checkout
              uses: actions/checkout@v4.2.2

            - name: Setup
              uses: ./.github/actions/setup

            - name: Local integration tests using ${{ matrix.browser }}
              run: npm run test:integration:local:${{ matrix.browser }}:_execute

            - name: Upload test logs
              uses: actions/upload-artifact@v4
              if: ${{ failure() }}
              with:
                  name: test-results ${{ matrix.browser }}
                  path: |
                      packages/web/tests_output/
                      packages/web/logs/
