name: Continuous Integration
on:
  pull_request:
permissions: read-all

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    permissions: read-all
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: npm-${{ hashFiles('package-lock.json') }}
          restore-keys: npm-
      - run: npm ci
      - run: npm run version:check
      - name: Lint code
        run: npm run lint
      - name: Lint docs
        run: npm run lint:markdown
      - name: Transpile code
        run: npm run compile
      - name: Unit test
        run: npm run test:unit:ci

  saucelabs-integration-tests:
    runs-on: ubuntu-latest
    permissions: read-all
    environment: integration
    env:
      SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
      SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
      SAUCE_TUNNEL_ID: ${{ secrets.SAUCE_TUNNEL_ID }}
    strategy:
      fail-fast: false
      matrix:
        browser: [edge]
    steps:
      - name: Setup sauce connect
        uses: saucelabs/sauce-connect-action@v2.0.0
        with:
            username: ${{ secrets.SAUCE_USERNAME }}
            accessKey: ${{ secrets.SAUCE_ACCESS_KEY }}
            tunnelIdentifier: ${{ secrets.SAUCE_TUNNEL_ID }}
            scVersion: 4.6.4
      - name: Checkout
        uses: actions/checkout@v1
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: npm-${{ hashFiles('package-lock.json') }}
          restore-keys: npm-
      - run: npm ci
      - run: npm run compile
      - name: Add to hosts file
        run: echo "127.0.0.1 local.test" | sudo tee -a /etc/hosts          
      - name: Run integration tests in Saucelabs
        run: npm run test.saucelabs.us -- --env ${{ matrix.browser }}
        timeout-minutes: 5

  local-integration-tests:
    runs-on: ubuntu-latest
    permissions: read-all
    strategy:
      fail-fast: false
      matrix:
        browser: [headlessChrome, headlessFirefox]
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: npm-${{ hashFiles('package-lock.json') }}
          restore-keys: npm-
      - run: npm ci
      - run: npm run compile
      - name: Local integration tests using Headless Chrome
        run: npm run test:integration:local:${{ matrix.browser }}:_execute
