name: Continuous Integration
on:
    pull_request:
permissions: read-all

jobs:
    unit-tests:
        runs-on: ubuntu-latest
        permissions: read-all
        steps:
            - name: Checkout
              uses: actions/checkout@v4.2.1
            - name: Setup
              uses: ./.github/actions/setup
            - run: npm run version:check
            - name: Size check
              run: npm run size-limit
            - name: Lint code
              run: npm run lint
            - name: Lint docs
              run: npm run lint:markdown
            - name: Transpile code
              run: npm run compile
            - name: Unit test
              run: npm run test:unit:ci
            - name: Unit test (nodejs)
              run: npm run test:unit:ci-node

    playwright:
        uses: ./.github/workflows/tests.yml
        secrets: inherit
